# Getting all arrivals to all stops of a given line in a given day

## Install dependencies

This notebook requires two dependencies which can be installed with the following command `pip install pandas open-bus-stride-client`.

You can also launch it online at [this URL](https://mybinder.org/v2/gh/hasadna/open-bus-stride-client/HEAD?labpath=notebooks%2Fgetting%20all%20arrivals%20to%20all%20stops%20of%20a%20given%20line%20in%20a%20given%20day.ipynb), when launching online the dependencies are already installed.

## Pick a date

First, we pick the day we want to analyze

In [1]:
import datetime
from ipywidgets import DatePicker
from IPython.display import display

date_widget = DatePicker(description='Date:', value=datetime.date(2021,12,21))
display(date_widget)

DatePicker(value=datetime.date(2021, 12, 21), description='Date:')

## List rides on that day

Now we need to pick a ride to analyze, but because we don't haev GTFS data yet we can't pick based on GTFS identifiers

So, we get 10 rides which occured on that date and pick one of them

You can see the URL of the request being made to stride api

In [2]:
import stride
import pandas as pd

pd.DataFrame(stride.get('/siri_rides/list', {
    'limit': 10,
    'scheduled_start_time_from': datetime.datetime.combine(date_widget.value, datetime.time(), datetime.timezone.utc),
    'scheduled_start_time_to': datetime.datetime.combine(date_widget.value, datetime.time(23,59), datetime.timezone.utc),
}, pre_requests_callback='print'))

https://open-bus-stride-api.hasadna.org.il/siri_rides/list?limit=10&scheduled_start_time_from=2021-12-21T00%3A00%3A00.000000%2B0000&scheduled_start_time_to=2021-12-21T23%3A59%3A00.000000%2B0000

,id,siri_route_id,journey_ref,scheduled_start_time,vehicle_ref,updated_first_last_vehicle_locations,first_vehicle_location_id,last_vehicle_location_id,updated_duration_minutes,duration_minutes
0,3768012,3702,2021-12-21-2122158,2021-12-21T00:00:00+00:00,7660169,2021-12-21 02:00:15.344003+00:00,203882356,203883220,2021-12-21 08:00:05.699287+00:00,27
1,3767991,1834,2021-12-21-46511307,2021-12-21T00:00:00+00:00,7799969,2021-12-21 01:00:52.996683+00:00,203879174,203879174,2021-12-23 02:00:07.650709+00:00,0
2,3767988,3707,2021-12-21-11254277,2021-12-21T00:00:00+00:00,70154102,2021-12-21 01:00:52.957958+00:00,203879077,203881146,2021-12-21 07:00:07.484184+00:00,46
3,3767989,3661,2021-12-21-10390148,2021-12-21T00:00:00+00:00,7528869,2021-12-21 02:00:32.307424+00:00,203879102,203882071,2021-12-21 08:00:05.912945+00:00,73
4,3767990,3703,2021-12-21-2122670,2021-12-21T00:00:00+00:00,23309702,2021-12-21 02:00:32.310994+00:00,203879114,203881673,2021-12-21 08:00:05.915646+00:00,61
5,3767985,3654,2021-12-21-1534460,2021-12-21T00:00:00+00:00,7783569,2021-12-21 02:00:37.336469+00:00,203878861,203881670,2021-12-21 08:00:05.988634+00:00,65
6,3767984,1487,2021-12-21-36958754,2021-12-21T00:00:00+00:00,8323908,2021-12-21 01:00:58.119676+00:00,203878847,203880532,2021-12-21 07:00:07.886764+00:00,35
7,3767986,1719,2021-12-21-24910351,2021-12-21T00:00:00+00:00,63538801,2021-12-21 01:00:58.127514+00:00,203878864,203881497,2021-12-21 07:00:07.889753+00:00,60
8,3767987,3695,2021-12-21-11252999,2021-12-21T00:00:00+00:00,70139102,2021-12-21 01:00:58.131766+00:00,203878957,203881264,2021-12-21 07:00:07.893056+00:00,52
9,3767993,3634,2021-12-21-22383263,2021-12-21T00:15:00+00:00,7826769,2021-12-21 02:00:32.321122+00:00,203879714,203882067,2021-12-21 08:00:05.918515+00:00,62

## Pick a ride

Now we can choose an id from above list to analyze

In [3]:
from ipywidgets import Text

ride_id_widget = Text(
    description='Ride ID:',
    value='3767988'
)
display(ride_id_widget)

Text(value='3767988', description='Ride ID:')

## Get the ride-stops

To get relevant vehicle locations we need to get all the ride-stops on that ride

In [4]:
siri_ride_stops = pd.DataFrame(stride.iterate('/siri_ride_stops/list', {
    'siri_ride_ids': ride_id_widget.value,
}, pre_requests_callback='print'))
siri_ride_stops

https://open-bus-stride-api.hasadna.org.il/siri_ride_stops/list?siri_ride_ids=3767988&offset=0
https://open-bus-stride-api.hasadna.org.il/siri_ride_stops/list?siri_ride_ids=3767988&offset=35

          id  siri_stop_id  siri_ride_id  order
0   97719721           189       3767988      1
1   97719764           188       3767988      2
2   97719808          3909       3767988      3
3   97719828          7001       3767988      4
4   97719850         10196       3767988      6
5   97719894         11985       3767988      7
6   97719914         13953       3767988      9
7   97719952         14537       3767988     10
8   97719972         15568       3767988     11
9   97719987         16881       3767988     12
10  97720001         17249       3767988     13
11  97720014         17578       3767988     14
12  97720043           187       3767988     15
13  97720061          5644       3767988     16
14  97720134          2225       3767988     17
15  97720151           173       3767988     18
16  97720163          9229       3767988     19
17  97720173          3904       3767988     20
18  97720199          6998       3767988     21
19  97720209          9225       3767988     22
20  97720218         11104       3767988     23
21  97720228         11980       3767988     24
22  97720236           172       3767988     25
23  97720248          3903       3767988     26
24  97720264          6997       3767988     28
25  97720281          8948       3767988     29
26  97720295          9902       3767988     30
27  97720307         11110       3767988     31
28  97720319         11984       3767988     32
29  97720331          2428       3767988     33
30  97720343           185       3767988     34
31  97720355           184       3767988     35
32  97720367          3908       3767988     36
33  97720382           447       3767988     37
34  97720417          9228       3767988     39

## Get the vehicle locations

Now we use the above list of ride-stop ids to get the list of vehicle locations

In [5]:
siri_vehicle_locations = pd.DataFrame(stride.iterate('/siri_vehicle_locations/list', {
    'siri_ride_stop_ids': ','.join(map(str, siri_ride_stops.id.to_list())),
    'order_by': 'distance_from_journey_start asc'
}, pre_requests_callback='print'))
siri_vehicle_locations

https://open-bus-stride-api.hasadna.org.il/siri_vehicle_locations/list?siri_ride_stop_ids=97719721%2C97719764%2C97719808%2C97719828%2C97719850%2C97719894%2C97719914%2C97719952%2C97719972%2C97719987%2C97720001%2C97720014%2C97720043%2C97720061%2C97720134%2C97720151%2C97720163%2C97720173%2C97720199%2C97720209%2C97720218%2C97720228%2C97720236%2C97720248%2C97720264%2C97720281%2C97720295%2C97720307%2C97720319%2C97720331%2C97720343%2C97720355%2C97720367%2C97720382%2C97720417&order_by=distance_from_journey_start+asc&offset=0
https://open-bus-stride-api.hasadna.org.il/siri_vehicle_locations/list?siri_ride_stop_ids=97719721%2C97719764%2C97719808%2C97719828%2C97719850%2C97719894%2C97719914%2C97719952%2C97719972%2C97719987%2C97720001%2C97720014%2C97720043%2C97720061%2C97720134%2C97720151%2C97720163%2C97720173%2C97720199%2C97720209%2C97720218%2C97720228%2C97720236%2C97720248%2C97720264%2C97720281%2C97720295%2C97720307%2C97720319%2C97720331%2C97720343%2C97720355%2C97720367%2C97720382%2C97720417&order_by=distance_from_journey_start+asc&offset=47

,id,siri_snapshot_id,siri_ride_stop_id,recorded_at_time,lon,lat,bearing,velocity,distance_from_journey_start
0,203879077,168563,97719721,2021-12-20T23:59:33+00:00,35.090191,32.859379,31,0,0
1,203879139,168564,97719721,2021-12-21T00:00:33+00:00,35.090479,32.859177,202,26,0
2,203879201,168565,97719764,2021-12-21T00:01:35+00:00,35.093636,32.857899,89,35,459
3,203879262,168566,97719764,2021-12-21T00:02:36+00:00,35.094316,32.857355,185,35,559
4,203879321,168567,97719808,2021-12-21T00:03:37+00:00,35.093567,32.851214,186,74,1254
5,203879380,168568,97719828,2021-12-21T00:04:39+00:00,35.091681,32.846995,208,53,1748
6,203879438,168569,97719850,2021-12-21T00:05:41+00:00,35.088449,32.841953,210,22,2386
7,203879495,168570,97719850,2021-12-21T00:06:42+00:00,35.084736,32.836216,206,42,3125
8,203879550,168571,97719894,2021-12-21T00:07:43+00:00,35.080864,32.830151,208,55,3882
9,203879603,168572,97719914,2021-12-21T00:08:43+00:00,35.079628,32.824300,185,48,4563
10,203879654,168573,97719914,2021-12-21T00:09:31+00:00,35.079103,32.819716,190,66,5052
11,203879703,168574,97719952,2021-12-21T00:10:32+00:00,35.077564,32.817675,227,0,5373
12,203879752,168575,97719972,2021-12-21T00:11:39+00:00,35.074746,32.815324,227,1,5738
13,203879801,168576,97719987,2021-12-21T00:12:38+00:00,35.069619,32.810665,219,46,6438
14,203879849,168577,97720001,2021-12-21T00:13:41+00:00,35.062421,32.807509,255,46,7219
15,203879897,168578,97720014,2021-12-21T00:14:39+00:00,35.056950,32.806165,251,37,7757
16,203879943,168579,97720014,2021-12-21T00:15:39+00:00,35.052405,32.801852,219,74,8387
17,203879989,168580,97720043,2021-12-21T00:16:41+00:00,35.046626,32.797345,239,86,9113
18,203880034,168581,97720061,2021-12-21T00:17:42+00:00,35.038606,32.793222,235,0,10013
19,203880078,168582,97720061,2021-12-21T00:18:43+00:00,35.035879,32.791989,243,0,10286
20,203880121,168583,97720061,2021-12-21T00:19:43+00:00,35.034981,32.791925,292,28,10386
21,203880164,168584,97720061,2021-12-21T00:20:59+00:00,35.032409,32.793597,277,34,10786
22,203880206,168585,97720061,2021-12-21T00:21:59+00:00,35.021817,32.796988,285,67,11836
23,203880247,168586,97720134,2021-12-21T00:22:55+00:00,35.017463,32.798961,290,34,12298
24,203880288,168587,97720151,2021-12-21T00:23:55+00:00,35.013300,32.802786,326,36,12896
25,203880327,168588,97720163,2021-12-21T00:24:59+00:00,35.008659,32.807111,322,47,13535
26,203880365,168589,97720173,2021-12-21T00:25:51+00:00,35.008064,32.808103,335,0,13694
27,203880405,168590,97720173,2021-12-21T00:26:51+00:00,35.004481,32.811845,336,22,14194
28,203880445,168591,97720199,2021-12-21T00:27:53+00:00,35.001241,32.815885,328,47,14769
29,203880484,168592,97720209,2021-12-21T00:28:54+00:00,35.000362,32.818210,35,20,15069
30,203880524,168593,97720218,2021-12-21T00:29:56+00:00,34.996362,32.821473,312,44,15586
31,203880565,168594,97720228,2021-12-21T00:30:59+00:00,34.992106,32.822700,208,33,16133
32,203880605,168595,97720236,2021-12-21T00:31:59+00:00,34.988074,32.822755,296,39,16596
33,203880645,168596,97720248,2021-12-21T00:32:33+00:00,34.986458,32.823441,298,32,16787
34,203880685,168597,97720264,2021-12-21T00:33:51+00:00,34.983789,32.827754,17,0,17378
35,203880724,168598,97720281,2021-12-21T00:34:54+00:00,34.979374,32.829587,289,3,17943
36,203880763,168599,97720295,2021-12-21T00:35:49+00:00,34.975188,32.830399,277,0,18332
37,203880801,168600,97720307,2021-12-21T00:36:52+00:00,34.968513,32.830653,271,0,18972
38,203880839,168601,97720319,2021-12-21T00:37:52+00:00,34.963144,32.829001,227,0,19510
39,203880876,168602,97720331,2021-12-21T00:38:54+00:00,34.959789,32.826191,226,38,19939
40,203880913,168603,97720343,2021-12-21T00:39:56+00:00,34.956247,32.821227,191,51,20590
41,203880951,168604,97720355,2021-12-21T00:40:57+00:00,34.956396,32.811903,174,17,21640
42,203880990,168605,97720367,2021-12-21T00:41:59+00:00,34.957962,32.805540,167,27,22347
43,203881029,168606,97720382,2021-12-21T00:42:52+00:00,34.959724,32.801912,153,36,22781
44,203881068,168607,97720382,2021-12-21T00:43:46+00:00,34.960501,32.800657,153,48,22948
45,203881107,168608,97720382,2021-12-21T00:44:46+00:00,34.961685,32.792244,161,64,23948
46,203881146,168609,97720417,2021-12-21T00:45:55+00:00,34.958610,32.791039,340,1,24536